.site-head {
  background-image: url('/images/headerbg.png') ;
  background-size: cover;
  height: 30vh;
  
  
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
  }
}
