.site-head {
  background-image: url('https://raw.githubusercontent.com/JaydnEdwards/hylia-portfolio/master/src/images/imgheader.png') ;
  background-size: cover;
  height: 60vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  
  &__inner {
   background: rgba(255, 255, 255, 0.25); 
  }
  
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
  }
}

.wrapper{
    background: rgba(255, 255, 255, 0.25);
    width: 100vw;
  }
