<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="[ site-head ]">
  <div class="wrapper">
    <span class="visually-hidden">{{ site.name }}: {{ pageType }}</span>
    <div class="[ site-head__inner ] [ md:box-flex space-between align-center ]">
        <span class="visually-hidden">{{ 'Back to homepage' if page.url != '/' else 'Homepage' }}</span>
      {% include "partials/components/nav.njk" %}
    </div>
  </div>
  <img src="https://raw.githubusercontent.com/JaydnEdwards/hylia-portfolio/master/src/images/logowhite.svg" alt="Jaydn Edwards logo in white.">
</header>
